<div class="home-second--container">
  <div class="row text-center">
    <div class="medium-6 columns clearfix home--second-left">
      <h1 class="home-second--title">Browse Past Events</h1>
      <p>Review past years’ events and get ideas about what you can do in your institution or organization.</p>
      {{!-- {{#link-to "page" "what-is-open-education" class="button red"}}Why is it important?{{/link-to}} --}}
      {{!-- <a href="https://www.youtube.com/watch?v=ZFeyCc6we-s" target="_blank" class="button red">Why is it important?</a> --}}
      {{#link-to "events" class="button red"}}Browse Events{{/link-to}}
    </div>
    {{!--
    <div class="medium-6 columns clearfix home--second-right">
      <h1 class="home-second--title">Call for Participation</h1>
      <p>Submit your events, projects &amp; resources</p>
      {{#link-to "page" "call-for-participation" class="button cyan"}}How to submit{{/link-to}}
    </div>
    --}}
    <div class="medium-6 columns clearfix home--second-right">
      <h1 class="home-second--title">Browse Past Projects &amp; Resources</h1>
      <p>Learn and get inspired by the work of the Open Education Community.</p>
      {{#link-to "resources" class="button cyan"}}Browse Projects{{/link-to}}
    </div>
  </div>
</div>

<div class="home-third--container">
  <div class="row">
    <h1 class="home-third--title">Promoting Open Education Week</h1>
    <p class="home-third--p text-center">
      Hashtag: #openeducationwk<br />
      Connect with fellow Open Education Week participants
    </p>
    <p class="home-third--social text-center">
      <a class="fb" href="https://www.facebook.com/openeducationwk" target="_blank"><i class="icon-facebook"></i></a>
      <a class="tw" href="https://twitter.com/openeducationwk" target="_blank"><i class="icon-twitter"></i></a>
      <a class="yt" href="https://www.youtube.com/user/openeducationweek/" target="_blank"><i class="icon-youtube-play"></i></a>
    </p>
    {{!--
    <p class="text-center">
      {{#link-to "page" "spread-word" class="button red"}}Promote OEW{{/link-to}}
      <a class="button red home-third--downloadables" target="_blank" href="https://drive.google.com/open?id=0B-2iwGe3GdicbklBakFRUEI0NXc">Downloadables</a>
    </p>
    --}}
  </div>
  <div class="row">
    <div class="medium-12 columns">
      {{twitter-search}}
    </div>
  </div>
</div>

{{!--
<div class="home-fifth--container container">
  <div class="row">
    <div class="row">
      <div class="small-12 columns text-center">
          <h1>Schedule of Local Events</h1>
      </div>
    </div>

    {{x-schedule-action-tabs selectDate='selectDate'}}
    {{x-schedule-table filteredEvent=filteredLocalEvent}}

    {{outlet}}
  </div>
</div>

<div class="home-sixth--container container">
  <div class="row">
    <div class="row">
      <div class="small-12 columns text-center">
          <h1>Schedule of Online Events</h1>
      </div>
    </div>

    {{x-schedule-action-tabs selectDate='selectDate' event_type='online'}}
    {{x-schedule-table filteredEvent=filteredOnlineEvent}}

    {{outlet}}
  </div>
</div>
--}}

{{!--
<div class="home-seventh--container container">
  <div class="row">
    <div class="row">
      <div class="small-12 columns text-center">
          <h1>Picture Yourself Open</h1>
          <p>Get creative and show your support for Open.  We want to cover the world with openness by covering this map with photos.</p>
      </div>
    </div>

    <div class="row">
      <div class="small-12 text-center">
        {{#link-to 'picture-yourself-open' class='button'}}See All Submissions{{/link-to}}
      </div>
    </div>

    <div class="row">
      {{#each slicedOpenPhoto as |photo index|}}
        <div class="medium-4 columns openphoto--card">
          {{x-oembed content=photo.content}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
--}}

<div class="home-eight--container container">
  <div class="row">
    <div class="small-12 text-center">
      <h1>Sign up for Open Education Newsletter</h1>
      <p>Find out about the latest trends in open education. <br /> (<a href="http://www.oeconsortium.org/news/newsletter/" target="_blank" class="link-white">Preview previous editions</a>)</p>
    </div>

    <div class="small-12 medium-4 medium-centered text-center">
      <div id="mc_embed_signup">
        <form id="mc-embedded-subscribe-form" class="validate form-horizontal" action="http://ocwconsortium.us1.list-manage.com/subscribe/post?u=1a209e9010b861e3abfd5c609&amp;id=4e4d1b9eba" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
          <div class="form-group">

            <input id="mce-EMAIL" class="form-control required email" name="EMAIL" type="email" value="" placeholder="Email Address *" />
            <input id="mce-FNAME" class="form-control required" name="FNAME" type="text" value="" placeholder="First Name *"/>
            <input id="mce-LNAME" class="form-control required" name="LNAME" type="text" value="" placeholder="Last Name *" />

            <div class="col-sm-offset-7"><input id="mc-embedded-subscribe" class="button cyan" name="subscribe" type="submit" value="Subscribe" /></div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
