<div class="home-second--container">
  <div class="row text-center">
    <div class="medium-6 columns clearfix home--second-left">
      <h1 class="home-second--title">What is Open Education?</h1>
      <p>By providing free and open access to education and knowledge, we help create a world where people can fulfill this desire.</p>
      {{!-- {{#link-to "page" "what-is-open-education" class="button red"}}Why is it important?{{/link-to}} --}}
      <a href="https://www.youtube.com/watch?v=ZFeyCc6we-s" target="_blank" class="button red">Why is it important?</a>
    </div>
    {{!--
    <div class="medium-6 columns clearfix home--second-right">
      <h1 class="home-second--title">Call for Participation</h1>
      <p>Submit your events, projects &amp; resources</p>
      {{#link-to "page" "call-for-participation" class="button cyan"}}How to submit{{/link-to}}
    </div>
    --}}
    <div class="medium-6 columns clearfix home--second-right">
      <h1 class="home-second--title">Browse Projects &amp; Resources</h1>
      <p>Learn and get inspared by the work in the Open Education Community.</p>
      {{#link-to "resources" class="button cyan"}}Browse{{/link-to}}
    </div>
  </div>
</div>

<div class="home-third--container">
  <div class="row">
    <div class="medium-6 columns">

      {{#twitter-feed}}
        <a class="twitter-timeline" href="https://twitter.com/hashtag/openeducationwk" data-widget-id="692740529117884416">#openeducationwk Tweets</a>
      {{/twitter-feed}}

    </div>
    <div class="medium-6 columns text-center">
      <iframe class="home-third--youtube" src="https://www.youtube-nocookie.com/embed/F7SLPskTPvc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

      <h2 class="home-third--title">Help us spread the word!</h2>
      <p>
        Hashtag: #openeducationwk<br />
        Connect with fellow Open Education Week participants
      </p>
      <p class="home-third--social">
        <a class="fb" href="https://www.facebook.com/openeducationwk" target="_blank"><i class="icon-facebook"></i></a>
        <a class="tw" href="https://twitter.com/openeducationwk" target="_blank"><i class="icon-twitter"></i></a>
        <a class="yt" href="https://www.youtube.com/user/openeducationweek/" target="_blank"><i class="icon-youtube-play"></i></a>
      </p>
      <p>
        {{#link-to "page" "spread-word" class="button red"}}Promote OEW{{/link-to}}
        <a class="button red home-third--downloadables" target="_blank" href="https://drive.google.com/a/ocwconsortium.org/folderview?id=0B-2iwGe3GdicfjVBRVNCSm9MWGRBWk9pem9oYVd5c3ZlSGxKS2QtY19obkRwZkY5Q0JzMUE&usp=drive_web">Downloadables</a>
      </p>
    </div>
  </div>
</div>

{{!--
<div class="home-fourth--container">
  <div class="row">

    <div class="medium-6 columns small-centered text-center">
      <h2 class="home-fourth--title">Thank you to all who contributed to Open Education Week 2015</h2>
      <h3 class="home-fourth--subtitle">Join the Open Education Movement</h3>
    </div>

    <div class="small-12 columns"></div>

    <div class="small-3 columns text-center">
      <div class="home-fourth--stat-number">130</div>
      <div class="home-fourth--stat-name">Events</div>
    </div>

    <div class="small-2 columns text-center">
      <div class="home-fourth--stat-number">20</div>
      <div class="home-fourth--stat-name">Languages</div>
    </div>

    <div class="small-2 columns text-center">
      <div class="home-fourth--stat-number">38</div>
      <div class="home-fourth--stat-name">Countries (projects)</div>
    </div>

    <div class="small-2 columns text-center">
      <div class="home-fourth--stat-number">115</div>
      <div class="home-fourth--stat-name">Countries (visitors)</div>
    </div>

    <div class="small-3 columns text-center">
      <div class="home-fourth--stat-number">4,271,714</div>
      <div class="home-fourth--stat-name">Twitter impressions</div>
    </div>

    <img src="assets/images/world-stats.svg" class="graphic--world-stats" />
  </div>
</div>
--}}

<div class="home-fifth--container container">
  <div class="row">
    <div class="row">
      <div class="small-12 columns text-center">
          <h1>Schedule of Local Events</h1>
      </div>
    </div>

    {{x-schedule-action-tabs selectDate='selectDate'}}
    {{x-schedule-table filteredEvent=filteredLocalEvent}}

    {{outlet}}
  </div>
</div>

<div class="home-sixth--container container">
  <div class="row">
    <div class="row">
      <div class="small-12 columns text-center">
          <h1>Schedule of Online Events</h1>
      </div>
    </div>

    {{x-schedule-action-tabs selectDate='selectDate' event_type='online'}}
    {{x-schedule-table filteredEvent=filteredOnlineEvent}}

    {{outlet}}
  </div>
</div>

<div class="home-seventh--container container">
  <div class="row">
    <div class="row">
      <div class="small-12 columns text-center">
          <h1>Picture Yourself Open</h1>
          <p>Get creative and show your support for Open.  We want to cover the world with openness by covering this map with photos.</p>
      </div>
    </div>

    <div class="row">
      <div class="small-12 text-center">
        {{#link-to 'picture-yourself-open' class='button'}}See All Submissions{{/link-to}}
      </div>
    </div>

    <div class="row">
      {{#each slicedOpenPhoto as |photo index|}}
        <div class="medium-4 columns openphoto--card">
          {{x-oembed content=photo.content}}
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="home-eight--container container">
  <div class="row">
    <div class="small-12 text-center">
      <h1>Sign up for Open Education Newsletter</h1>
      <p>Find out about the latest trends in open education. <br /> (<a href="http://www.oeconsortium.org/news/newsletter/" target="_blank" class="link-white">Preview previous editions</a>)</p>
    </div>

    <div class="small-12 medium-4 medium-centered text-center">
      <div id="mc_embed_signup">
        <form id="mc-embedded-subscribe-form" class="validate form-horizontal" action="http://ocwconsortium.us1.list-manage.com/subscribe/post?u=1a209e9010b861e3abfd5c609&amp;id=4e4d1b9eba" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
          <div class="form-group">

            <input id="mce-EMAIL" class="form-control required email" name="EMAIL" type="email" value="" placeholder="Email Address *" />
            <input id="mce-FNAME" class="form-control required" name="FNAME" type="text" value="" placeholder="First Name *"/>
            <input id="mce-LNAME" class="form-control required" name="LNAME" type="text" value="" placeholder="Last Name *" />

            <div class="col-sm-offset-7"><input id="mc-embedded-subscribe" class="button cyan" name="subscribe" type="submit" value="Subscribe" /></div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
