<div class="row">
  <div class="medium-10 columns medium-centered">
    <div class="box">

      {{#if (eq wizard.intro false) }}
        <h1>Introduction</h1>

        <p>Thank you for your interest in contributing to Open Education Week. Open Education Week is a celebration of the global Open Education Movement. Its purpose is to raise awareness about the movement and its impact on teaching and learning worldwide. Participation in all events and use of all resources is free and open to everyone.</p>
        <p>Please use this form to provide information on your contribution or event. Submitting your event through this form will allow us to show the strength of commitment to openness around the world.  Your event will be featured in the Open Education Week schedule, on the world map of events, and will be sent through Open Education Week social media channels.  You’ll also receive the official Open Education Week badge to display on your webpage or event promotional materials.</p>
        <p>We welcome multiple submissions on any aspect of open education in any language. All contributions must have an open license that allows for reuse and modification, such as CC-BY. Contributions will be reviewed by the Open Education Week organizing committee before being posted to the website. Submissions that are not appropriate for Open Education Week will not be posted. </p>
        <p>To ensure your contribution is featured during Open Education Week, please complete this form no later than <strong>28 February 2017</strong>. Please fill out one form per submission. </p>

        <button class="button" {{action 'nextPage' 'intro'}}>Next Page</button>
      {{/if}}

      {{#if (and
              (eq wizard.basic false)
              wizard.intro
            )
      }}
        <h2>General Information (Step 1/2)</h2>
        <div class="row">
          <div class="medium-6 columns">
            {{validated-input model=model valuePath='firstname' label='First Name *'}}
          </div>
          <div class="medium-6 columns">
            {{validated-input model=model valuePath='lastname' label='Last Name *'}}
          </div>
        </div>

        {{validated-input model=model valuePath='email' label='Email *'}}
        {{validated-input model=model valuePath='institution' label='Institution or Organization'}}
        {{validated-input model=model valuePath='institutionurl' label='Website of institution or organization'}}

        {{validated-input model=model options=countries valuePath='country' placeholder="Select your country ..." label='Country *' type='power-select'}}

        {{validated-input model=model valuePath='city' label='City, State *'}}

        {{validated-input
          label='Type of Contribution *'
          model=model
          valuePath='contributiontype'
          values=(array
                    (hash value='event_local' label='Local Event')
                    (hash value='event_online' label='Online Event or Webinar')
                    (hash value='resource' label='Informational resource about OER')
                    (hash value='project' label='Project with OER')
                 )
          type='radio'
        }}
        <button class="button" {{action 'nextPage' 'basic'}}>Next Page</button>
      {{/if}}

      {{#if (and
              wizard.intro
              (eq wizard.basic true)
              (eq model.contributiontype 'event_local')
              (eq wizard.event_local false)
            )
      }}
        <h2>Local Event (Step 2/2)</h2>

        {{validated-input
          label='Type of Local Event *'
          model=model
          valuePath='localeventtype'
          values=(array
                    (hash value='conference/seminar' label='Conference/seminar')
                    (hash value='workshop' label='Workshop')
                    (hash value='forum/panel/discussion' label='Forum/panel/discussion')
                    (hash value='other' label='Other')
                 )
          type='radio'
        }}

        {{#if (eq model.localeventtype 'other') }}
          {{validated-input model=model valuePath='eventother' label='Define type of your event'}}
        {{/if}}

        {{validated-input model=model valuePath='title' label='Title of Event *'}}
        {{validated-input model=model valuePath='facilitator' label='Facilitator'}}
        {{validated-input model=model valuePath='description' label='Short description of the event *' type='textarea'}}

        <label>Event starts at *</label>
        {{pick-a-date date=(readonly model.datetime) on-selected=(action 'updateDatetime') placeholder="Date of Event *" options=(readonly extraPickadateOptions)}}
        {{pick-a-time date=(readonly model.datetime) on-selected=(action 'updateDatetime') placeholder="Time of Event *" options=(readonly extraPickadateOptions)}}

        {{#if model.datetime}}
          <p>Event will be submitted using your local timezone at the time: {{timezone}}</p>
        {{/if}}

        {{validated-input model=model valuePath='link' label='Link to the event *'}}
        {{validated-input model=model valuePath='directions' label='Directions (address or link to Google Maps)'}}

        {{validated-input
          label='Will you have archived video from the event *'
          model=model
          valuePath='archive'
          values=(array
                    (hash value='1' label='Yes')
                    (hash value='0' label='No')
                 )
          type='radio'
        }}

        <hr />

        {{validated-input model=model options=languages valuePath='language' label='Primary Language *' placeholder='Select language ...' type='power-select'}}

        <label>Please check all that apply:</label>

        {{validated-input model=model valuePath='is_primary' type="checkbox" label="Primary or Secondary Education" }}
        {{validated-input model=model valuePath='is_higher' type="checkbox" label="Higher Education" }}
        {{validated-input model=model valuePath='is_community' type="checkbox" label="Community and Technical Colleges" }}

        <button class="button" {{action 'nextPage' 'event_local' 'submit'}}>Submit Event</button>
      {{/if}}

      {{#if (and
              wizard.intro
              (eq wizard.basic true)
              (eq model.contributiontype 'event_online')
              (eq wizard.event_online false)
            )
      }}

        <h2>Online Event (Step 2/2)</h2>

        {{validated-input
          label='Type of Online Event *'
          model=model
          valuePath='localeventtype'
          values=(array
                    (hash value='webinar' label='Webinar')
                    (hash value='discussion' label='Online Discussion')
                    (hash value='other' label='Other')
                 )
          type='radio'
        }}

        {{#if (eq model.localeventtype 'other') }}
          {{validated-input model=model valuePath='eventother' label='Define type of your event'}}
        {{/if}}

        {{validated-input model=model valuePath='title' label='Title of Event *'}}
        {{validated-input model=model valuePath='facilitator' label='Facilitator'}}
        {{validated-input model=model valuePath='description' label='Short description of the event *' type='textarea'}}

        <label>Event starts at *</label>
        {{pick-a-date date=(readonly model.datetime) on-selected=(action 'updateDatetime') placeholder="Date of Event *" options=(readonly extraPickadateOptions)}}
        {{pick-a-time date=(readonly model.datetime) on-selected=(action 'updateDatetime') placeholder="Time of Event *" options=(readonly extraPickadateOptions)}}

        {{#if model.datetime}}
          <p>Event will be submitted using your local timezone: {{timezone}}</p>
        {{/if}}

        {{validated-input model=model valuePath='link' label='Link to the event *'}}

        {{validated-input
          label='Will you have archived video from the event *'
          model=model
          valuePath='archive'
          values=(array
                    (hash value='1' label='Yes')
                    (hash value='0' label='No')
                 )
          type='radio'
        }}

        <hr />

        {{validated-input model=model options=languages valuePath='language' label='Primary Language *' placeholder='Select language ...' type='power-select'}}

        <label>Please check all that apply:</label>
        {{validated-input model=model valuePath='is_primary' type="checkbox" label="Primary or Secondary Education" }}
        {{validated-input model=model valuePath='is_higher' type="checkbox" label="Higher Education" }}
        {{validated-input model=model valuePath='is_community' type="checkbox" label="Community and Technical Colleges" }}

        <button class="button" {{action 'nextPage' 'event_online' 'submit'}}>Submit Event</button>
      {{/if}}

      {{#if (and
              wizard.intro
              (eq wizard.basic true)
              (or
                (eq model.contributiontype 'resource')
                (eq model.contributiontype 'project')
              )
              (eq wizard.resource_project false)
            )
      }}

        {{#if (eq model.contributiontype 'resource') }}
          <h2>Resource about OER (Step 2/2)</h2>
        {{else }}
          <h2>Project with OER (Step 2/2)</h2>
        {{/if}}

        {{validated-input model=model valuePath='title' label='Title *'}}
        {{validated-input model=model valuePath='description' label='Short description *' type='textarea'}}
        {{#if (eq model.contributiontype 'resource') }}
          {{validated-input model=model valuePath='link' label='Link to Resource *'}}
        {{else }}
          {{validated-input model=model valuePath='link' label='Link to Project *'}}
        {{/if}}
        {{validated-input model=model options=licenses valuePath='license' label='License *' type='power-select'}}

        <hr />
        
        {{validated-input model=model options=languages valuePath='language' label='Primary Language *' placeholder='Select language ...' type='power-select'}}

        <label>Please check all that apply:</label>
        {{validated-input model=model valuePath='is_primary' type="checkbox" label="Primary or Secondary Education" }}
        {{validated-input model=model valuePath='is_higher' type="checkbox" label="Higher Education" }}
        {{validated-input model=model valuePath='is_community' type="checkbox" label="Community and Technical Colleges" }}

        {{#if (eq model.contributiontype 'resource') }}
          <button class="button" {{action 'nextPage' 'resource_project' 'submit'}}>Submit Resource</button>
        {{else}}
          <button class="button" {{action 'nextPage' 'resource_project' 'submit'}}>Submit Project</button>
        {{/if}}
      {{/if}}

      {{#if wizard.submitted}}
        <h2>Submitted!</h2>

        <p>Thank you for your contribution to Open Education Week. You'll receive an email shortly with the confirmation.</p>

        <p>You can contact us at <a href="mailto:info@openeducationweek.org">info@openeducationweek.org</a> if you have any questions or updates to your submission.</p>

        <p>You can now close this browser window or <button class="button" {{action 'resetSubmission'}}>Submit another Entry</button></p>

        <hr/>

        <h2>Supporting all Learners</h2>
        <p>We seek to ensure that all Open Education Week activities and contributions are accessible to all learners.  The following best practices from the National Center for Disabilities and Access to Education are highly recommended:</p>

        <ul>
          <li>Provide alternative text for non-textual items including images and audio</li>
          <li>Make sure that content is well structured and clearly written</li>
          <li>Provide headers for data tables</li>
          <li>Ensure hyperlinks make sense out of context</li>
          <li>Caption and/or provide transcripts for videos</li>
          <li>Do not rely on color alone to convey meaning</li>
          <li>Ensure users can complete and submit all forms</li>
        </ul>

      {{/if}}

    </div>
  </div>
</div>
{{outlet}}
