<div class="row">
  <div class="medium-10 columns medium-centered">
    <div class="box">
      {{form-submission-01-intro}}
      {{form-submission-02-basic model=model}}
      {{form-submission-03-video model=model}}

      <button {{action 'formSubmit'}}>Submit</button>
    </div>
  </div>
</div>
{{outlet}}
