<div class="medium-4 columns">
  <div class="box--image">
    {{#link-to "resources.resource" resource.slug}}
      <img src="http://loremflickr.com/800/410/nature" />
    {{/link-to}}
  </div>
  <div class="box box--with-image">
    <h2 class="box--title">
      {{#link-to "resources.resource" resource.slug}}{{{resource.title}}}{{/link-to}}
    </h2>
    <div class="box--divider"></div>
    <div class="box--meta">
      <div>
        <span class="box--meta--icon">{{fa-icon "calendar"}}</span>
        <span class="box--meta--text">10. Mar 2015 02:00 PM</span>
      </div>
      <div>
        <span class="box--meta--icon">{{fa-icon "globe"}}</span>
        <span class="box--meta--text">Amsterdam</span>
      </div>
    </div>
    <div class="box--divider"></div>
    <div class="box--content">
      {{{resource.content_excerpt}}}
    </div>
    <div class="box--divider"></div>
    <div class="box--meta box--meta--small">
      {{#if resource.form_language}}
      <div>
        <span class="box--meta--icon">{{fa-icon "flag"}}</span>
        <span class="box--meta--text">{{{resource.form_language}}}</span>
      </div>
      {{/if}}
      <div>
        <span class="box--meta--icon">{{fa-icon "building-o"}}</span>
        <span class="box--meta--text">{{{resource.institution}}}</span>
      </div>
    </div>
  </div>
</div>

{{yield}}
