{{#form-for model as |f|}}
  <p>Type of Video</p>

  {{f.radio-field "videoType" "project" label="Project Showcase"}}
  {{f.radio-field "videoType" "message" label="Open Education Message"}}
  {{f.radio-field "videoType" "howto" label="How-to Video"}}
  {{f.radio-field "videoType" "talk" label="Inspirational Talk"}}
  {{f.radio-field "videoType" "other" label="Other"}}

  
{{/form-for}}
