<div class="row title--container">
  <div class="small-12 columns text-center">
    <h1>Projects &amp; Resources</h1>
  </div>
</div>

<div class="row">
  <div class="medium-3 columns float-right">
    <label>Filter by year</label>
    {{#power-select
      options=years
      selected=yearselected
      searchEnabled=false
      onchange=(action "selectYear") as |year|}}
      {{year}}
    {{/power-select}}
  </div>
</div>

<div class="row content--container">
  {{resource-pagination
    page=page
    pageCount=pageCount
    previousPage=(action "previousPage")
    nextPage=(action "nextPage")
  }}

  {{resource-browser resources=filteredResources}}

  {{#if filteredResources}}
    {{resource-pagination
      page=page
      pageCount=pageCount
      previousPage=(action "previousPage")
      nextPage=(action "nextPage")
    }}
  {{/if}}
</div>

{{outlet}}
