<div class="medium-12 columns">
  <ul class="pagination text-center" role="navigation" aria-label="Pagination">
    {{#if hasPreviousPage}}
      <li class="pagination-previous disabled">
        <button {{action "previousPage"}} aria-label="Previous page">« Previous <span class="show-for-sr">page</span></button>
      </li>
    {{else}}
      <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
    {{/if}}

    <li class="current"><span class="show-for-sr">You're on page</span> {{page}}</li>

    {{#if hasNextPage}}
      <li class="pagination-next">
        <button {{action "nextPage"}} aria-label="Next page">Next <span class="show-for-sr">page</span> »</button>
      </li>
    {{else}}
      <li class="pagination-next disabled">Next <span class="show-for-sr">page</span></li>
    {{/if}}
  </ul>
</div>
